  
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1 class="">Objetivos
          </h1>  
        </div>
        <div class="col-md-6">
          <!-- Accordion START -->
          <div class="panel-group" id="accordion">
              {% for objetivo in objetivos %}
              <div class="panel panel-default">
                  <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{objetivo.id}}">
                  <h4 class="panel-title">{{ objetivo.metrica }}</h4>
                  </div>
                  <div id="collapse{{objetivo.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>{{ objetivo.descripcion }}</p>
                      <a href="{% url 'update_objetivo' objetivo.id %}">

                        <button type="button" class="btn btn-secondary float-right ml-2">Calcular</button>
                      </a>
                      <a href="{% url 'delete_objetivo' objetivo.id %}">
                        <button type="button" class="btn btn-danger float-right">Eliminar</button>
                      </a>
                    </div>
                  </div>
              </div>
              {% endfor %}
          </div>
          <!-- Accordion END -->
        </div>
        <div class="col-md-6">      
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="AgregarObjetivo">
            <div class="form-group">
                <label for="id_descripcion">Descripción:</label>    
                <textarea class="form-control" name="descripcion" rows="3" maxlength="150" required="" id="id_descripcion"></textarea>
            </div>
            <div class="form-group">
                <label for="id_metrica">Metrica:</label> 
                <input class="form-control" type="text" name="metrica" maxlength="30" required="" id="id_metrica">
            </div>
            <div class="form-group ">
                <button type="submit" class="btn btn-secondary" value="submit">Agregar</button>
            </div>
            
          </form>
        </div>
    </div>
</div>

{% endblock content %}